
/*empty*/
body {
    font-family: arial;
 }

 .allergies {
    color: #ff2828;
    font-weight: bold;
 }
 
 #burgerinfo {
   background-color: #000000;
   color: #ffffff;
   border: 2px dashed #ff0000;
   padding-left: 50px;
 }

 input[type*="submit"]:hover {
    background-color: #000000;
    color: #ffffff;
 }

 input[type*="submit"] {
    padding: 0.5px;
    cursor: pointer;
 }

 button:hover {
   font-weight: bold;
 }

 button {
   padding: 5px;
   margin-left: 5px;
   margin-top: 20px;
   margin-bottom: 20px;
   cursor: pointer;
 }

 header {
   background-image: url(https://images.unsplash.com/photo-1481833761820-0509d3217039?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
   opacity: 0.6;
    padding-left: 50px;
    width: 100%;
    height: auto;
    overflow:hidden;
   }

   #head_title {
      padding-left: 600px;
      padding-top: 200px;
      margin-top: 100px;
      margin-left: 90px;
      position: absolute;
      color: white;
      font-size: 100px;
   }
   #title {
      color: red;
   }

   .wrapper {
      display: grid;
      grid-gap: 5%;
      grid-template-columns: 30% 30% 30%;
      color: #444;
      padding: 50px;

  }

  .box {
   background-color: rgb(61, 57, 57);
   color: #fff;
   border-radius: 20px;
   padding: 50px;
   font-size: 100%;
}